mongo/db/
mongo/configdb/

mysql/db/*
!mysql/db/my.cnf 

postgres/data

ssh
gitea/drone
gitea/gitea/
*.swp
runner-env

.env
nextcloud/storage
nextcloud/

doxygen-report/src/

netdata/config 
!netdata/config/netada.conf

docker-compose.override.yml

